# Relatório de Análise IV

## Seleções e Frequências

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep=';')
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [15]:
selecao = dados['Tipo'] == 'Apartamento'
selecao

0        False
1        False
2         True
3         True
4         True
         ...
22575     True
22576    False
22577     True
22578     True
22579     True
Name: Tipo, Length: 22580, dtype: bool

In [19]:
df = dados[selecao].shape[0]
df

19532

In [29]:
selecao = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
selecao

0        False
1         True
2        False
3        False
4        False
         ...
22575    False
22576    False
22577    False
22578    False
22579    False
Name: Tipo, Length: 22580, dtype: bool

In [30]:
df2 = dados[selecao].shape[0]
df2

2212

In [32]:
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
22575,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
22576,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
22577,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
22578,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
22579,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [33]:
selecao = (dados['Area'] >= 60) & (dados['Area'] <= 100)
selecao

0        False
1         True
2        False
3        False
4         True
         ...
22575     True
22576    False
22577     True
22578    False
22579     True
Name: Area, Length: 22580, dtype: bool

In [35]:
df3 = dados[selecao].shape[0]
df3

8719

In [36]:
selecao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
selecao

0        False
1        False
2        False
3        False
4        False
         ...
22575    False
22576    False
22577    False
22578    False
22579    False
Length: 22580, dtype: bool

In [39]:
df4 = dados[selecao].shape[0]
df4

41

In [52]:
print('Nº de "Apartamentos" -> {}'.format(df))
print('Nº de "Casas", "Casas de Condomínio" e "Casas de Vila" -> {}'.format(df))
print('Nº de imóveis com área entre 60m² e 100m³ -> {}'.format(df))
print('Nº de imóveis com pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> {}'.format(df))

Nº de "Apartamentos" -> 19532
Nº de "Casas", "Casas de Condomínio" e "Casas de Vila" -> 19532
Nº de imóveis com área entre 60m² e 100m³ -> 19532
Nº de imóveis com pelo menos 4 quartos e aluguel menor que R$ 2.000,00 -> 19532